<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: resources}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar('home')}"></nav>
    <div class="container mt-3">
        <h1>Home</h1>
        <h2>Best of the year by <span th:text="${name}"></span></h2>
    </div>
</body>
</html>