<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: resources}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Songs</title>
</head>
<body>
<nav th:replace="~{fragments :: navbar('home')}"></nav>
    <div class="container mt-3">
        <h2>Songs</h2>
        <div th:text="${songs}"></div>
    </div>

</body>
</html>